@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../fonts/Inter/style.css");

body {
  @apply font-inter text-black;
}

@layer components {
  .header-svg {
    @apply relative z-0 after:block after:content-[''] after:top-0 after:bottom-0 after:left-0 after:right-0 after:bg-[#D46363]/[15%] after:rounded-full after:w-full after:h-full after:absolute md:pl-0 md:pr-48 pr-20 md:pt-[105px] pt-16 md:py-[92px] after:[filter:blur(54px)] after:-z-10;
  }

  .congrats-status-wrapper {
    @apply relative after:content-[''] after:top-0 after:bottom-0 after:left-0 after:right-0 after:bg-[#D4636326] after:absolute after:-z-10 md:py-[77px] py-9 md:px-40 px-14 after:rounded-full after:blur-[54px] md:mb-12 mb-6;
  }
  .congrats-total-preview {
    @apply relative after:content-[''] after:top-0 after:bottom-0 after:left-0 after:right-0 after:bg-[#D4636326] after:absolute after:-z-10 py-6 after:rounded-full after:blur-[54px] md:after:w-80 after:w-44 after:m-auto md:mb-16 mb-8;
  }
}

.btn_drop_shadow {
  box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.gender_shadow {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.gender_item_shadow {
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
